<div class="container">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

      <!-- Page Heading -->
    <h1 class="my-4">List Movies</h1>

    <% @shared_videos.each do |shared_video| %>
      <!-- Row -->
      <div class="row">
        <div class="col-md-7">
          <iframe class="img-fluid rounded mb-3 mb-md-0" width="100%" height="100%"
            src="https://www.youtube.com/embed/<%= shared_video.youtube_link %>"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          >
          </iframe>
        </div>
        <div class="col-md-5">
          <h5>Share by: <%= shared_video.user_email %></h5>
          <p><%= shared_video.description %></p>
          <a class="btn btn-primary" href="https://www.youtube.com/watch?v=<%= shared_video.youtube_link %>">Go to Youtube</a>
        </div>
      </div>
      <!-- /.row -->
      <hr>
    <% end %>
</div>
